$body-background-color: #333;
$image-assets-link: 'https://marketplace.cerberus.pp.ua/css/';

$body-font-color: #cfcfcf;

$form-error-msg-color: rgb(223, 4, 4) !important;

$box-shadow: 0 0 3px black;

$toast-header-bg-color: #f39d6b;
$toast-body-bg-color: #fcda9c;
$toast-font-color: #6c757d;

$tpl-border-style-gradient-begin: peru;
$tpl-border-style-gradient-middle: rgba(133, 131, 1, 0);
$tpl-border-style-gradient-active-begin: aquamarine;
$tpl-border-style-gradient-active-middle: rgba(133, 131, 1, 0);

$navigation-font: #999;

$item-grade-0: rgb(177, 177, 177);
$item-grade-1: rgb(225, 245, 45);
$item-grade-2: rgb(129, 3, 141);
$item-grade-3: rgb(255, 145, 2);
$item-grade-4: rgb(2, 82, 255);
$item-grade-5: rgb(255, 43, 237);
$item-grade-6: rgb(63, 192, 252);
$item-grade-7: rgb(2, 255, 36);
$item-grade-8: rgb(2, 255, 36);
$item-grade-9: rgb(241, 207, 132);
